{% extends 'base.html.twig' %}

{% block title %}Aktibat | Home
{% endblock %}

{% block body %}

	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<div class="gridAccueil">
					<div class="illustration">
						<img src="{{ asset('images/logo_20_ans.png') }}" alt="Logo Aktibat 20 ans" class="logo20ans">
					</div>
					<div class="Text_Accueil">
						<br>
						<h1 class="h1__Accueil">C'est l'année des 20 ans d'Aktibat !</h1>
						<br>
						<p class="paragraph_Accueil">
							Bienvenue chez Aktibat, votre entreprise familiale de maçonnerie générale basée à Saint-Laurent-des-Bois dans le Loir-et-Cher (41). Depuis sa fondation en 2005, notre société s’engage avec passion et rigueur à réaliser tous vos projets de rénovation et aménagement dans le Loir-et-Cher, le Loiret et l'Eure-et-Loir.<br><br>

							Forte de 20 ans d’expérience, notre équipe composée d'un artisan et de deux ouvriers qualifiés partage des valeurs fortes telles que l’écoute, la réactivité et la qualité irréprochable. Chez Aktibat, chaque chantier est une aventure humaine où notre priorité absolue est votre entière satisfaction. Nous croyons fermement que l’attention portée aux détails et le respect des délais font toute la différence.<br><br>

							Notre savoir-faire couvre l’ensemble des travaux de maçonnerie générale : construction neuve, rénovation complète, extension de maison, terrassement, dallage, et bien plus encore. Nous privilégions l’utilisation de matériaux durables et adaptés à vos besoins, tout en respectant votre budget.<br><br>

							Entreprise chaleureuse et dynamique, Aktibat place la relation client au coeur de ses engagements. Nous prenons le temps de comprendre vos attentes, de vous conseiller et de vous accompagner à chaque étape du chantier. Grâce à une communication transparente et régulière, vous êtes informés du déroulement précis des travaux.<br><br>

							Choisir Aktibat, c’est opter pour une entreprise à taille humaine, locale et passionnée, reconnue pour son sérieux et son professionnalisme. Faites confiance à une équipe expérimentée, prête à concrétiser vos projets avec savoir-faire et authenticité.<br><br>

							Contactez-nous dès maintenant pour échanger sur vos futurs projets de maçonnerie et bénéficiez d’un devis gratuit et personnalisé.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
