<br>
<footer class="footer_section">
	<hr>
	<br>
	<div class="container">
		<div class="row">

			<div class="col-md-4 footer-col">
				<div class="footer_contact">
					<h4>Nous trouver..</h4>
					<div class="contact_link_box">
						<a href="#">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
							<span>Coordonnées :</span><br>
							<span>
								<b>3 impasse l'Eperonnière, 41240 Saint-Laurent-des-Bois</b>
							</span>
						</a><br>
						<a href="#">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>
								<b>02 54 82 22 19</b>
							</span>
						</a><br>
						<a href="mailto:contact@aktibat.fr">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>
								<b>contact@aktibat.fr</b>
							</span>
						</a>
					</div>
					<p>&copy; 2005 -
						{{ "now"|date("Y") }}
						- Aktibat. Tous droits réservés.</p>
				</div>
			</div>

			<div class="col-md-4 footer-col">
				<div class="footer_detail">
					<a href="{{ path('app_home') }}" class="footer-logo">
						<h4>Aktibat</h4>
					</a>
					<p>
						<b>
							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_mentions_legales') }}" target="_blank" rel="noopener noreferrer">
									<i class="fa-solid fa-scale-balanced"></i>
									Mentions Légales
								</a>
							</li>
						</b>
					</p>
					<h5>Nous suivre sur les réseaux sociaux ...</h5>
					<div class="footer_social">
						<a href="https://www.facebook.com/Aktibat/?locale=fr_FR" target="_blank" rel="noopener noreferrer">
							<i class="fa-brands fa-square-facebook"></i>
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-4 footer-col">
				<div class="map_container">
					<div class="map">
						<div id="googleMap">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2676.753864557773!2d1.4536865768035212!3d47.8637299701857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e49ba54f529a7f%3A0x4e750156c1a08495!2sAKTIBAT!5e0!3m2!1sfr!2sfr!4v1742203876166!5m2!1sfr!2sfr" width="420" height="315" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</footer>
